<?xml version="1.0" encoding="UTF-8"?>
<routes>
	<route>
		<url>^/$</url>
		<controller>front</controller>
		<action>defaultPage</action>
	</route>
	<route>
		<url>^/backoffice$</url>
		<controller>backoffice</controller>
		<action>defaultPage</action>
	</route>
	<route>
		<url>^/ajax/popup/(.*)/(.*)$</url>
		<controller>ajax</controller>
		<action>popup</action>
	</route>
	<route>
		<url>^/ajax/notif/(.*)$</url>
		<controller>ajax</controller>
		<action>notif</action>
	</route>
	<route>
		<url>^/home$</url>
		<controller>home</controller>
		<action>defaultPage</action>
	</route>
</routes>
