<?xml version="1.0" encoding="UTF-8"?>
<routes>
	<route>
		<url>^/$</url>
		<controller>front</controller>
		<action>defaultPage</action>
	</route>
	<route>
		<url>^/logout$</url>
		<controller>logout</controller>
		<action>defaultPage</action>
	</route>
	<route>
		<url>^/backoffice/notification$</url>
		<controller>backoffice</controller>
		<action>notification</action>
	</route>
	<route>
		<url>^/backoffice/profil$</url>
		<controller>backoffice</controller>
		<action>profil</action>
	</route>
	<route>
		<url>^/backoffice/index$</url>
		<controller>backoffice</controller>
		<action>defaultPage</action>
	</route>
	<route>
		<url>^/backoffice/login$</url>
		<controller>backoffice</controller>
		<action>login</action>
	</route>
	
	<route>
		<url>^/backoffice/map$</url>
		<controller>backoffice</controller>
		<action>map</action>
	</route>
	<route>
		<url>^/ajax/popup/(.*)/(.*)$</url>
		<controller>ajax</controller>
		<action>popup</action>
	</route>
	<route>
		<url>^/ajax/notif/(.*)$</url>
		<controller>ajax</controller>
		<action>notif</action>
	</route>
	<route>
		<url>^/home$</url>
		<controller>home</controller>
		<action>defaultPage</action>
	</route>
</routes>
